header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__icon {
    font-size: 1.8rem;
    cursor: pointer;
}
.icon-cart{
    position: relative;
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 1.8rem;
}